@charset "UTF-8";

html {
    font-size:100%;
}
body {
    font-family: "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", sans-serif;
    line-height: 1.7;
    color: rgb(255, 255, 255);
    background-image: url(../images/haikei.jpg);
    background-size: cover;
    background-color: gray;
}
a {
    text-decoration: none;
}
img {
    max-width: 50%;
}
.logo {
    width: 100px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.3rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a {
    color: rgb(255, 255, 255);
}
.main-nav a:hover {
    color: rgb(255, 255, 255);
}