@charset "UTF-8";

html {
    font-size:100%;
}
body {
    font-family: "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", sans-serif;
    line-height: 1.7;
    color: rgb(255, 255, 255);
    background-image: url(../images/haikei.jpg);
    background-size: cover;
    background-color: gray;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.align-center {
    text-align: center;
}

.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.page-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 100px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.3rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a {
    color: rgb(255, 255, 255);
}
.main-nav a:hover {
    color: rgb(255, 255, 255);
}
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}
.prof {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.care {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 400px 0px 0px 0px;
}
.act {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 200px 0px 0px 0px;
}
